/case-studies/1-random-web-surfer/python/week-02-illustration.ipynb
/case-studies/1-random-web-surfer/1-random-web-surfer.drawio
/case-studies/1-random-web-surfer/*.bkp
/case-studies/3-percolation/*.bkp
/case-studies/3-percolation/python/week-10-11-illustration.ipynb
/case-studies/4-small-world-phenomenon/*.bkp
/case-studies/4-small-world-phenomenon/python/movies.txt

/in-class/week-03-data-types/python/data/japan-shiba-inu.jpeg
/in-class/week-03-data-types/python/week-03-illustration.ipynb

/in-class/week-05-06-sort-and-search-algo/python/week-05-06-illustration.ipynb
/in-class/week-05-06-sort-and-search-algo/python/data/leipzig100k.txt
/in-class/week-05-06-sort-and-search-algo/python/data/leipzig200k.txt
/in-class/week-05-06-sort-and-search-algo/python/data/leipzig1m.txt

/in-class/week-07,09-program-perf/python/week-07-illustration.ipynb

/in-class/week-11-12-stacks-and-queues/python/week-11-12-illustration.ipynb

# /in-class/week-03-data-types/python/program/__pycache__/