/case-studies/1-random-web-surfer/python/week-02-illustration.ipynb
/case-studies/1-random-web-surfer/1-random-web-surfer.drawio
/case-studies/1-random-web-surfer/*.bkp

/in-class/week-03-data-types/python/data/japan-shiba-inu.jpeg
/in-class/week-03-data-types/python/week-03-illustration.ipynb

/in-class/week-05-sort-and-search-algo/python/week-05-illustration.ipynb
/in-class/week-05-sort-and-search-algo/python/data/leipzig100k.txt
/in-class/week-05-sort-and-search-algo/python/data/leipzig200k.txt
/in-class/week-05-sort-and-search-algo/python/data/leipzig1m.txt

# /in-class/week-03-data-types/python/program/__pycache__/