/case-studies/1-random-web-surfer/python/illustration.ipynb
/case-studies/1-random-web-surfer/1-random-web-surfer.drawio
/case-studies/1-random-web-surfer/*.bkp

/in-class/week-03-data-types/japan-shiba-inu-512px.jpeg
